@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?soakft');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?soakft#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?soakft') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?soakft') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?soakft##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fabc {
    font-family: '#{$icomoon-font-family}' !important;

    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-rendering: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-arduino {
    &:before {
        content: $fa-arduino;
    }
}

